[submodule "cfletes13/chasen"]
	path = cfletes13/chasen
	url = git@github.com:cfletes13/chasen.git
	branch = 14.0
[submodule "onebeat_integration"]
	path = onebeat_integration
	url = git@github.com:humanytek-team/onebeat_integration.git
